<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>437874551355-v2hc5nv2kvfskgfajdsfebr8jjqru038.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.437874551355-v2hc5nv2kvfskgfajdsfebr8jjqru038</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>437874551355-5bb2ht9lq06s0q6hign0safnpvaovkjm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBcfstBH5wBP-eEBKeRAyPFE43CJil7WFY</string>
	<key>GCM_SENDER_ID</key>
	<string>437874551355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.scorescope.app</string>
	<key>PROJECT_ID</key>
	<string>scorescope-5a12b</string>
	<key>STORAGE_BUCKET</key>
	<string>scorescope-5a12b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:437874551355:ios:662e2d0983f2e155c80a1e</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
			<string>com.googleusercontent.apps.437874551355-v2hc5nv2kvfskgfajdsfebr8jjqru038</string>
			</array>
		</dict>
	</array>
</dict>
</plist>